body {
    margin: 0;
    padding: 0;
    background: aliceblue;
    background-image: radial-gradient(black 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;

}

#unmc-Logo {
    display: block;
    margin: 0 auto;
    width : 120px;

}

.desc {
    margin : 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}

.blink-from { 
    width: 10px;
    height: 10px;
    background-color: red,blue;
    animation: blink-animation-to 1s steps(5, start) infinite;
}
.blink-to {
    width: 10px;
    height: 10px;
    background-color: green,yellow;
    animation: blink-animation-from 1s steps(5, start) infinite;
}

@keyframes blink-animation { 
    /* Not sure what code below does */
    to {
        visibility: hidden;
    } 
    0%, 100% {
        background-color: red;
    }
    50% {
        background-color: blue;
    }  
} 



.map-container {
    border-radius: 15px;
    overflow: hidden;
    z-index: 100;
}

@media (min-width: 768px) {
    /* Apply desktop styles for screens wider than 768px */
    .map-container {
	   position:absolute;
	   width:100%;
	   height:100%;
	   left:0px;
	   top:0px;
       border-radius: 15px;
	   z-index:100;
    }
}

.search-container {
  display: inline-block;
  /* Use flexbox to align items */
  /* display: flex;  */
  margin-left: 10px;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  width: flex;
}



#search-input-from {
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  width: flex;
  position:absolute;
  z-index:500;
  left:80%;
  top:0%;
  transform:translate(-80%,0);
 
}
#search-input-to {
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  width: flex;
  position:absolute;
  z-index:500;
   left:100%;
  top:0%;
  transform:translate(-100%,0);
 
}

#search-input {
  background-color: white;
  color : black;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  width: flex;
  cursor: pointer;
  float: right;
  transition: background-color 0.3s ease;
}

.button-container {
    text-align: center;
    margin-top: 10px;
}

#go-button {
    background-color: white;
    color: black;
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
	position:absolute;
	z-index:500;
	left:100%;
  top:5%;
  transform:translate(-100%,50%);
}

#go-button:hover {
    background-color: #ddd;
}